.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  padding-top: 100px; /* Adjust this value to match your navbar's height */
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

nav {
  width: 100%;
  position: fixed; /* Keeps the navbar at the top of the page */
  top: 0;
  left: 0;
  z-index: 10; /* Keeps the navbar above other content */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
